<h1>Taylor ABC</h1>

<nav>
  <ul>
    <li> <a href="/boxers">Registered Boxers</a> </li>
    <li> <a href="/boxers/new">Register Boxer</a> </li>
    <li> <a href="/fitness_classes">Available Classes</a> </li>
    <li> <a href="/fitness_classes/new">Add Class</a> </li>
  </ul>
</nav>
