<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
    <link rel="stylesheet" type="text/css" href="/styles/layout.css">
    <link rel="stylesheet" type="text/css" href="/styles/tables.css">
    <title>Taylor ABC</title>
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/">Home Page</a> </li>
        <li> <a href="/boxers">Boxers</a> </li>
        <li> <a href="/fitness_classes">Classes</a> </li>
        <li> <a href="/bookings">Bookings</a> </li>
        <li> <a href="/trainers">Trainers</a> </li>
      </ul>
    </nav>
    <%= yield  %>
  </body>
</html>
