<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/boxers">Registered Boxers</a> </li>
        <li> <a href="/boxers/new">Register Boxer</a> </li>
        <li> <a href="/fitness_classes">Available Classes</a> </li>
        <li> <a href="/fitness_classes/new">Add New Class</a> </li>
        <li> <a href="/">Home Page</a> </li>
      </ul>
    </nav>
    <%= yield  %>
  </body>
</html>
