<a class="button" href="/bookings/new">Make Booking</a>

<% for booking in @bookings %>
  <p>Boxer Detail: <%= booking.boxer().full_name() %> </p>
  <p>Class Detail: <%= booking.fitness_class().name() %> </p>
  <p> <a class="button" href="/bookings/<%= booking.id()  %>/delete">Remove Booking</a> </p>
  <hr />
<% end %>
