<p><%=@booking.boxer().full_name() %> can't be booked into <%= @booking.fitness_class().name() %> at <%= @booking.fitness_class().start_time() %> as they aren't a Premium Member. Try and get them to switch.</p>
