<% for boxer in @boxers %>
  <p>Name: <%= boxer.full_name() %> </p>
  <form method="post" action='/bookings/<%=@fitness_class.id()%>/<%=boxer.id()%>'>

    <input type="submit" value="Remove Booking">

  </form>
  <hr />
<% end %>
