<% for boxer in @boxers %>
  <p>Name: <%= boxer.full_name() %> </p>
  <p> <a href="/boxers/<%= boxer.id()  %>/edit">Edit Boxer Details</a> </p>
  <p> <a href="/boxers/<%= boxer.id()  %>/delete">Remove Boxer</a> </p>
  <hr />
<% end %>
