<form method="post" action="/fitness_classes">
  <label for="name">Class Name:</label>
  <input id="name" type="text" name="name"/>

  <label for="capacity">Capacity:</label>
  <input id="capacity" type="text" name="capacity"/>

  <label for="duration">Duration:</label>
  <input id="duration" type="text" name="duration"/>

  <label for="premium-member">Premium Member:</label>
  <select name="premium_members">
    <option value="true">
      Yes
    </option>
    <option value="false">
      No
    </option>
  </select>

  <input type="submit" value="Add Class">



</form>
