<form method="post" action="/fitness_classes">
  <label for="name">Class Name:</label>
  <input id="name" type="text" name="name"/>

  <label for="capacity">Capacity:</label>
  <input id="capacity" type="text" name="capacity"/>

  <label for="duration">Duration:</label>
  <input id="duration" type="text" name="duration"/>

  <label for="premium_members">Premium Members Only:</label>
  <input id="premium_members" type="text" name="premium_members"/>

  <input type="submit" value="Add Class">



</form>
