<form method="post" action="/boxers/<%= @boxer.id() %>">

  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" value="<%= @boxer.first_name  %>"/>

  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" value="<%= @boxer.last_name  %>"/>


  <input type="submit" value="Update Boxer Details">

</form>
