<form method="post" action="/boxers/skill_mot">

  <label for="footwork">Footwork:</label>
  <input id="footwork" type="number"  min="1" max="10" name="footwork"/>

  <label for="padwork">Padwork:</label>
  <input id="padwork" type="number"  min="1" max="10" name="padwork"/>

  <label for="fitness">Fitness:</label>
  <input id="fitness" type="number"  min="1" max="10" name="fitness"/>

  <label for="power">Power:</label>
  <input id="power" type="number"  min="1" max="10" name="power"/>

  <label for="defense">Defense:</label>
  <input id="defense" type="number"  min="1" max="10" name="defense"/>

  <input type="submit" value="Assign Skill Level">

</form>
