<form method="post" action="/trainers">
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name"/>

  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name"/>

  <label for="premium-member">Premium Member:</label>
  <select>
    <option value="true">
      true
    </option>
    <option value="false">
      false
    </option>
  </select>

  <input type="submit" value="Add Trainer">

</form>
